@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    height: fit-content;
    background: #F3F4F9 0% 0% no-repeat padding-box !important;
    
    
}

.main{
    position: relative;
   /* background: #F3F4F9 0% 0% no-repeat padding-box; */
  
    /* overflow: hidden; */
    
}


.blue-top-bar{
    background: #487FCC 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 4px #15223214;
    opacity: 1;
    height: 150px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    
    
}

.container-main{
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vh;
    grid-template-areas: 'sideBar mainContent';
    z-index: 10;
    position: relative;
    /* gap:15px; */
    height: fit-content;
}


.side-nav-main-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    grid-area: navbar;
    z-index: 20;
    height: 98%;
    padding: 15px;

}

.side-nav-c1{
    height: 100%;
    width: 228px;
    position: relative;
    background-color: white;
    border-radius:  10px;
}

.side-box-items{
    display: flex;
    padding: 10px;
}

.side-nav-css{
    display: flex;
    width: 100%;
    text-decoration: none;
    font: normal normal normal 15px/22px Open Sans;
    letter-spacing: 0px;
    color: #171725;
    opacity: 1;
    padding: 8px 0px;

}

.side-nav-icons{
    display: inline-block;
    padding: 0 10px 0 0;
    margin-left: 20px;
    color: #7E84A3;

}

.side-box-items:hover{
    background: #F2F7FF 0% 0% no-repeat padding-box;
    color: #1f1f28;
    /* font: normal normal 800 15px/22px Open Sans;
     */
    font-weight: bolder;

}

.side-nav-css:hover{
    font: normal normal bold 15px/22px Open Sans;
    
}

.active{
    background-color: #F2F7FF;
    font: normal normal 600 15px/22px Open Sans;
    border-left: 3px solid #386CB5;
    color: #000000;

}

.active i{
    color: #000000;

}

.active #school-img{
    opacity: 1;
}

.active .side-nav-css span:nth-child(2){
    color: #386CB5;
    font: normal normal 600 15px/22px Open Sans;

}

/* .side-nav-css.active::before{
    content: "\00a0";
    display: inline-block;
    background-color: #487FCC;
    width: 5px;
} */

#school-img{
    width: 15px;
    opacity: .5;
}
.main-content{
    grid-column: 2;
    grid-area: mainContent;
}

.top-nav-bar{
   
    padding-top: 10px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    background-color: #487FCC;
}

.dashboard-heading{
    color: #FFFFFF;
    font: normal normal 600 15px/20px Open Sans;
}



.left-nav-content{
    display: flex;
    align-items: center;

}

.add-school{
    display: flex;
    align-items: center;
    color: #386CB5;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000026;
    border-radius: 8px;
    padding: 11px;
    font: normal normal 600 11px/10px Open Sans;
    
}   



.bell-div{
    position: relative;
    padding: 15px;
    color: white;
}

.bell-div span:nth-child(2) {
    position: absolute;
    font-size: 9px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0px 4px;
    top: 15px;
    right: 13px;
}



.profile-div{
    display: flex;
    align-items: center;
    /* width: 200px; */
    justify-content: space-evenly;
    color: white;
    /* margin-right: 15px; */
    flex-direction: column;
    position: relative;

}

.profile-text-img{
    align-items: center;
    display: flex;
    
}

.profile-img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}

.user-name{
    color: white;
    padding-left: 10px;
    font-size: 12px;
    /* margin: auto 0; */
}

.profile-div-c{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

}

.user-dropdown{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    display: none;
    position: absolute;
    top:31px;

}

.user-dropdown-items{
    padding:5px 10px;
    border-bottom: 1px solid #f0f0f0;
    color: #000000;
}

.user-dropdown-items a{
    color: #000000;
    text-decoration: none;
    font-size: 13px;

}




.cards-main{
    padding:7px 20px 20px 15px;
} 





.small-box{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* margin-right: 160px; */
    width: 93%;
}

.small-box-css{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
    opacity: 1;
    /* height: 160px; */
    padding: 10px 15px;
}


.small-box-heading{
    color: #000000;
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: bold;
    /* font-size: 13px; */
    font: normal normal 600 14px/18px open sans ;
}

.small-box-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:5px;
}

.small-box-middle-1{
    font: normal normal 600 30px/35px open sans;
}

.small-box-middle-2{
    border-radius: 50%;
    background: transparent linear-gradient(158deg, #6D6AE3 0%, #6664D8 100%) 0% 0% no-repeat padding-box;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.small-box-footor{
    color: #000000;
    opacity: 0.4;   
    /* font-size: 12px; */
    font: normal normal normal 12px/17px  open Sans;
}

/* small box 2 circle bg color */
#bg-color{
    background: transparent linear-gradient(158deg, #FB9A40 0%, #F88820 100%) 0% 0% no-repeat padding-box;
}

/* small box 3 circle bg color */
#bg-color-2{
    background: transparent linear-gradient(158deg, #FFC05D 0%, #F8A829 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

/* small box 4 circle bg color */

#bg-color-3{
    background: transparent linear-gradient(158deg, #44D58C 0%, #2CBE59 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}



.large-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 25px;
    width: 93%;
}


.heading-largebox-1{
    font: normal normal 600 16px/20px Open Sans;
    color: #444B48;
    
}

.large-box-1-head{
    display: flex;
    justify-content: space-between;
}

.legend-head{
    display: flex;
    flex-direction: column;
    margin: 5px 0px 3px 0px;
}
.legend-innerdiv{
    margin-bottom: 3px;
    justify-content: left;
    align-items: center;
    display: flex;
    font: normal normal normal 12px/22px Open Sans;
    color: #444B48;
}
.legend-box-1{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 2px;
}
#bar-active{
    background-color: #F9AC32;
}
#bar-inactive{
    background-color: #EEEEEE;
}
#legend-inactive{
    margin-top: 2px;
}
.legend-div{
    display: flex;
    /* justify-content: space-between; */
}


#teacher{
    opacity: .4;
}

.large-box-1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
    /* height: 300px; */
    padding: 10px;
}

.large-box-2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px;
    /* height: 300px; */
    padding: 10px;
}

.lg-sclass{
    border-bottom: 3px solid #487FCC;
    padding-bottom: 1px;
}


#barChart{
    padding: 15px;
}

.table-div{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    border-radius: 10px 10px 0px 0px;
    /* height: 200px; */
    margin-top: 45px;
}



.table-div{
   padding: 20px;
   margin-top: 25px !important;
}

#top-heading{
    color: #444B48;
    font: normal normal 600 15px/27px Open Sans;
}

.table-heading{
    color: #7E84A3;
    font: normal normal 600 12px/20px Open Sans;
}


.css-for-img{
    width: 60px;
    height: 50px;
}

.table-data-css{
    height: 80px;
    font-size: 13px;
    color: #000000;
    vertical-align: middle;
}

.view-color{
    color: #487FCC;
}


.table-lightfont-color{
    color: #000000;
    opacity: 0.4;
    /* font-size: 12px; */
    /* font-weight: bold; */
    font: normal normal normal 12px/15px Open Sans;
}



.bars{
    display: none;
    padding-left: 15px;
}


.top-nav-main{
    display: flex;
    align-items: baseline;
    color: white;
    padding: 0px 20px;
    position:sticky;
    top: 0;
    left: 0;
    background-color: #487FCC;
    z-index: 999;

}
#close-btn{
    display: none;
}

@media screen and (max-width: 1000px) {

    /* .container-main{
        grid-template-columns: 1fr 1fr;
    } */

    .small-box{
        grid-template-columns: 1fr 1fr;
    }

    .large-box{
        grid-template-columns: 1fr;
    }
    /* .side-nav-main-div{
        position: fixed;
        width: 280px;
        top:0;
        left: -280px;
        height: 100%;
        z-index: 99999;

        /* transition: all ease 1s; */
    /* } ? */

   



}


@media screen and (max-width: 450px) {

    /* .container-main{
        grid-template-columns: 1fr 1fr;
    } */

    .cards-main{
        width: 100%;
        margin:20px ;
    }

    .small-box{
        grid-template-columns: 1fr;
        /* margin-right: 100px; */
        /* width: 100%; */
        
        
    }

    .large-box{
        grid-template-columns: 1fr;
        gap:25px;
        /* margin-right: 100px; */
        /* width: 100%; */
    }

    .container-main{
        grid-template-columns: 0px 1fr;
    }

    .side-nav-main-div{
        position: fixed;
        width: 280px;
        top:0;
        left: -280px;
        height: 100%;
        z-index: 99999;

        /* transition: all ease 1s; */
    }
    
    .bars{
        display: block;
        padding-right: 10px;
        padding-left: 0;
    }

    .user-name{
        display: none;

    }

    .profile-div{
        width: fit-content;
        justify-content: unset;
    }
    

    table  {
        white-space: nowrap;

    }
    .table-div{
        overflow-x: scroll;
        width: 700px;
    }

    .user-dropdown{
        right: 0;
        width: 150px;
    }
    #close-btn{
        display: block;
    }


}



.subclass{
    left: -4px;
    bottom: 0 !important; 
    font-size: 12px;
     font-weight: 100;
     font: normal normal normal 12px/19px Open Sans;
}